custom_web_content_agent_scraper.json
{
  "id": "dsKnCFwysROIA4MT",
  "meta": {
    "instanceId": "03524270bab2c2dfd5b82778cd1355e56cdda3cf098bf2dfd865e18164c00485"
  },
  "name": "Custom Web Content Agent",
  "tags": ["scraping", "agent", "web-content"],
  "nodes": [
    {
      "id": "e7374976-f3c1-4f60-ae57-9eec65444216",
      "name": "Manual Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.manualChatTrigger",
      "position": [763, 676],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "d5ff2114-1e74-43cf-9f3c-744c241988db",
      "name": "Web Research Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [983, 676],
      "parameters": {
        "agent": "reActAgent",
        "options": {
          "prefix": "You are a web research agent. Use tools when needed to fetch and process page content.",
          "suffix": "Begin!\n\nQuestion: {input}\nThought:{agent_scratchpad}",
          "suffixChat": "Begin! Always respond using the section title `Final Answer`.",
          "humanMessageTemplate": "{input}\n\n{agent_scratchpad}"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "97e84a23-9536-43cd-94e9-b8166be8ed32",
      "name": "LLM Engine",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [983, 896],
      "parameters": {
        "model": "gpt-4-1106-preview",
        "options": {
          "timeout": 300000,
          "temperature": 0.7,
          "frequencyPenalty": 0.3
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "wPFAzp4ZHdLLwvkK",
          "name": "OpenAI Primary"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8452e5c4-aa29-4a02-9579-8d9da3727bcb",
      "name": "Workflow Input",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [760, 1200],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "a0fc004a-ab0f-4b31-94df-50f5eee69c86",
      "name": "Parse Query Params",
      "type": "n8n-nodes-base.set",
      "position": [960, 1200],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "query",
              "type": "objectValue",
              "objectValue": "={{ $json.query.substring($json.query.indexOf('?') + 1).split('&').reduce((result, item) => (result[item.split('=')[0]] = decodeURIComponent(item.split('=')[1]), result), {}) }}"
            }
          ]
        }
      },
      "typeVersion": 3.2
    },
    {
      "id": "3b6599d6-ce9a-4861-9b52-07156eb52539",
      "name": "Runtime Config",
      "type": "n8n-nodes-base.set",
      "position": [1160, 1200],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "query.maxlimit",
              "type": "numberValue",
              "numberValue": "={{ $json?.query?.maxlimit == null ? 70000 : Number($json?.query?.maxlimit) }}"
            }
          ]
        }
      },
      "typeVersion": 3.2
    },
    {
      "id": "63d98361-8978-4042-84e7-53a0e226f946",
      "name": "Fetch Web Page",
      "type": "n8n-nodes-base.httpRequest",
      "onError": "continueRegularOutput",
      "position": [1360, 1200],
      "parameters": {
        "url": "={{ encodeURI($json.query.url) }}",
        "options": {
          "response": { "response": { "neverError": true } },
          "allowUnauthorizedCerts": true
        }
      },
      "typeVersion": 4.1
    },
    {
      "id": "36c38ee4-724c-4ba2-a59a-ac0bbc912e94",
      "name": "Request Error?",
      "type": "n8n-nodes-base.if",
      "position": [1560, 1200],
      "parameters": {
        "conditions": {
          "boolean": [
            { "value1": "={{ $json.hasOwnProperty('error') }}", "value2": true }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "17d4b5ae-f5d3-4793-8419-d3c879f7f50d",
      "name": "Extract Body HTML",
      "type": "n8n-nodes-base.set",
      "position": [1780, 1480],
      "parameters": {
        "fields": {
          "values": [
            { "name": "HTML", "stringValue": "={{ $json?.data.match(/<body[^>]*>([\\s\\S]*?)<\\/body>/i)[1] }}" }
          ]
        },
        "include": "selected"
      },
      "typeVersion": 3.2
    },
    {
      "id": "063220c2-fa4d-4d5e-9549-7712aaa72921",
      "name": "Clean Markup",
      "type": "n8n-nodes-base.set",
      "position": [1980, 1480],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "HTML",
              "stringValue": "={{ ($json.HTML || 'HTML BODY CONTENT NOT AVAILABLE').replace(/<script[^>]*>([\\s\\S]*?)<\\/script>|<style[^>]*>([\\s\\S]*?)<\\/style>|<noscript[^>]*>([\\s\\S]*?)<\\/noscript>|<!--[\\s\\S]*?-->|<iframe[^>]*>([\\s\\S]*?)<\\/iframe>|<object[^>]*>([\\s\\S]*?)<\\/object>|<embed[^>]*>([\\s\\S]*?)<\\/embed>|<video[^>]*>([\\s\\S]*?)<\\/video>|<audio[^>]*>([\\s\\S]*?)<\\/audio>|<svg[^>]*>([\\s\\S]*?)<\\/svg>/ig, '') }}"
            }
          ]
        }
      },
      "typeVersion": 3.2
    },
    {
      "id": "5e2b5383-adcf-4de0-a406-4f5d631b5e8a",
      "name": "Simplified Output?",
      "type": "n8n-nodes-base.if",
      "position": [2180, 1480],
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $('Runtime Config').first()?.json?.query?.method }}", "value2": "simplif", "operation": "contains" }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "036511d7-a4be-4bbf-b4bc-47ddfabfe76f",
      "name": "Normalize Links",
      "type": "n8n-nodes-base.set",
      "position": [2360, 1380],
      "parameters": {
        "fields": {
          "values": [
            { "name": "HTML", "stringValue": "={{ $json.HTML.replace(/href\\s*=\\s*\"(.+?)\"/gi, 'href=\"NOURL\"').replace(/src\\s*=\\s*\"(.+?)\"/gi, 'src=\"NOIMG\"') }}" }
          ]
        }
      },
      "typeVersion": 3.2
    },
    {
      "id": "cc7aef4a-a1fb-4a69-a670-1f200f9e9541",
      "name": "HTML to Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [2540, 1480],
      "parameters": {
        "html": "={{ $json.HTML }}",
        "destinationKey": "page_content"
      },
      "typeVersion": 1
    },
    {
      "id": "11806e8c-5fc4-4d9d-8144-179356993aa7",
      "name": "Finalize Response",
      "type": "n8n-nodes-base.set",
      "position": [2740, 1480],
      "parameters": {
        "fields": {
          "values": [
            { "name": "page_content", "stringValue": "={{ $json.page_content.length < $('Runtime Config').first()?.json?.query?.maxlimit ? $json.page_content : 'ERROR: PAGE CONTENT TOO LONG' }}" },
            { "name": "page_length", "type": "numberValue", "numberValue": "={{ $json.page_content.length }}" }
          ]
        },
        "include": "selected"
      },
      "typeVersion": 3.2
    },
    {
      "id": "a3a6b199-517b-4987-8281-d7997a32f54b",
      "name": "WebFetch Tool",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [1103, 896],
      "parameters": {
        "name": "web_fetch",
        "workflowId": "={{ $workflow.id }}",
        "description": "Fetch and preprocess web page content. Input must be a query string: ?url=VALIDURL&method=full|simplified",
        "responsePropertyName": "page_content"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": { "executionOrder": "v1" },
  "connections": {
    "Workflow Input": { "main": [[{ "node": "Parse Query Params", "type": "main", "index": 0 }]] },
    "Parse Query Params": { "main": [[{ "node": "Runtime Config", "type": "main", "index": 0 }]] },
    "Runtime Config": { "main": [[{ "node": "Fetch Web Page", "type": "main", "index": 0 }]] },
    "Fetch Web Page": { "main": [[{ "node": "Request Error?", "type": "main", "index": 0 }]] },
    "Request Error?": { "main": [[], [{ "node": "Extract Body HTML", "type": "main", "index": 0 }]] },
    "Extract Body HTML": { "main": [[{ "node": "Clean Markup", "type": "main", "index": 0 }]] },
    "Clean Markup": { "main": [[{ "node": "Simplified Output?", "type": "main", "index": 0 }]] },
    "Simplified Output?": { "main": [[{ "node": "Normalize Links", "type": "main", "index": 0 }], [{ "node": "HTML to Markdown", "type": "main", "index": 0 }]] },
    "Normalize Links": { "main": [[{ "node": "HTML to Markdown", "type": "main", "index": 0 }]] },
    "HTML to Markdown": { "main": [[{ "node": "Finalize Response", "type": "main", "index": 0 }]] },
    "WebFetch Tool": { "ai_tool": [[{ "node": "Web Research Agent", "type": "ai_tool", "index": 0 }]] },
    "LLM Engine": { "ai_languageModel": [[{ "node": "Web Research Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Manual Chat Trigger": { "main": [[{ "node": "Web Research Agent", "type": "main", "index": 0 }]] }
  }
}
